
export JENKINS_DOMAIN_NAME=jenkins.mspbs.gov.py
export JENKINS_ENABLE_SSL=false
export CERT_PATH=
export CERT_NAME=
export KEY_NAME=

export JAVA_HOME=

export TOMCAT_VERSION=9.0.54
export TOMCAT_PATH=/opt/tomcat
export TOMCAT_FOLDER=/apache-tomcat-$TOMCAT_VERSION
export TOMCAT_SRC=https://dlcdn.apache.org/tomcat/tomcat-9/v$TOMCAT_VERSION/bin/apache-tomcat-$TOMCAT_VERSION.zip

export JENKINS_SRC=https://get.jenkins.io/war-stable/2.303.2/jenkins.war
export JENKINS_SERV_NAME="tomcat@jenkins.service"
export JENKINS_SERV_PATH_AND_NAME="/etc/systemd/system/"$JENKINS_SERV_NAME
